*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display:flex;
    padding: 5px;
    background-color: rgb(253, 182, 89);
    justify-content: space-between;
    align-items:center;
     color: #fff;
}

img{
    width: 5cm;
    height: 5cm;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar .nav-links .menu li a{
    color: white;
    
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 5;

}
.menu li:hover{
    background-color: antiquewhite;
    border-radius: 5px;
    transition: 0.5s ease;
}

.menu li{
    padding: 5px 10px;
}
.dropdown{
    display: none;
    padding: 0.5em 0;
    background-color:  rgb(240, 154, 49) ;
    font-size: 10px;
    border-radius: 5px;
    position:absolute;
    top:35px;
}
.dropdown li+li{
    margin-top: 10px; /* What is this area for?*/
}
.dropdown li{
    padding: 0.5em 1em;
    text-align: center;
    width: 8em;
}
.social-accounts{
    position: relative;
}

.social-accounts:hover .dropdown{
    display: block;
}

/* Responxivity Area */
input[type="checkbox"]{
  display: none;
}
.hamburger{
    display:none;
    font-size:24px;
    user-select:none;
}

/* Media Queries */
@media(max-width:767px){
 .menu{
    display: none;
    /* position: absolute;
    background-color: tan;
    right: 0;
    left: 0;
    text-align:center;
    padding:16px; */

 }
 .menu li:hover{
    display: inline-block;
    background-color: rgb(177, 136, 81);
    transition:0.5s ease;
}
.menu li+li{
    margin-left: 12px;
   }
   input[type="checkbox"]:checked~.menu{
    display:block;
   }

.hamburger{
    display: block;
}
.dropdown li:hover{
    background-coor: rgb(142, 169, 66);
    transition: 1s ease;
}
}