
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:2cm;
    height:2cm;
}
body{
    font-family: fantasy;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: tan;
    }
.navbar .nav-links .menu a{
    color: white;
}
.menu{
    display: flex;
    gap: 1em;
    font-size:18px;
}.menu li:hover{
    background-color: antiquewhite;
    border-radius: 5px;
    transition: 1s ease;
}
.menu li{
    padding: 2px 5px;
}
/* Dropdown Styling */
.social-accounts{
    position: relative;
}
.dropdown{
    background-color: tan;
    padding: 0.5em 0;
    position:absolute;
    display:none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li+li{
    margin-top: 10px;
}
.dropdown li{
    padding: 0.5em 1em;
    width:8em;
    text-align: center;
}
.dropdown li:hover{
    display: block;
    background-color:#927b4c;
}
.social-accounts:hover .dropdown{
    display: block;
}
label,input{
    display: none;
}
@media(max-width:797px){

.menu{
    display: none;
}

label{
    display: block;
    color: white;
}
label:checked .menu{
 display: block;
}



  




}