* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: 'Times New Roman', Times, serif;   
}

a {
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(219, 155, 72);
    color: #fff;
}

.navbar .nav-links .menu a{
    color: #fff;
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 15px;
}

.menu li:hover{
    background-color: antiquewhite;
    border-radius: 5px;
    transition: 0.5s ease;
}

.menu li{
    padding: 5px 10px;
}

.social-accounts{
    position: relative;
}

.dropdown{
    background-color: rgb(192, 122, 31);
    padding: 0.5em 0;
    position: absolute;
    display: none;
    border-radius: 10px;
    top: 35px;
}

.dropdown li+li{
    margin-top: 10px;
}

.dropdown li{
    padding: 0.5em 1em;
    text-align: center;
    width: 8em;
}

.dropdown li:hover{
    background-color: tan;
}
.social-accounts:hover .dropdown{
    display: block;
}




/* Making My Navbar Resposive */
input[type="Checkbox"]{
    display:none;
}

/* Hamburger Starts */
.hamburger{
    display:none;
    font-size:24px;
    user-select:none;
}

/* Applying Media Queries */
@media(max-width:767px){
   .menu{
    display:none;
    position: absolute;
    background-color: tan;
    right: 0;
    left: 0;
    text-align:center;
    padding:16px;
   } 
       /*was the line above necessary?  */

   .menu li:hover{
        display: inline-block;
        background-color: rgb(177, 136, 81);
        transition:0.4s ease;
   }

   .menu li+li{
    margin-left: 12px;
   }

   input[type="checkbox"]:checked~.menu{
    display:block;
   }
   
   .hamburger{
    display:block;
   }

   .dropdown li:hover{
background-color: rgb(142, 169, 66);
   }

}



























