
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:2cm;
    height:2cm;
}
body{
    font-family: fantasy;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: tan;
    }
.navbar .nav-links .menu a{
    color: white;
}
.menu{
    display: flex;
    gap: 1em;
    font-size:18px;
}
.menu li a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.5s ease-in;
    border-radius: 5px;

}

@media
